
<div> <center><img src="assets/img/burger.png"  height="200" width="200"></center></div>
<div class="jumbotron">
    <h1 class="text-center">Eat Da Burger!</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            
            <input class="form-control" type="text" id="burg" placeholder="Enter Burger's Name">
            <br>
            <button id="burg-submit" class="btn btn-lg pull-right">Submit!</button>
        </div>
    </div>
</div>



<div id="burg-area"></div>
<script type="text/javascript" src="assets/js/bur.js"></script>
{{!--<div class="row">
    <div class= "col-sm-8">
        <ul>
            {{#each burgers}}
                {{#if this.devoured}}
                <li>
                    {{this.burger_name}}

                    {{!--<form action="/{{this.id}}?_method=PUT" method="POST">
                    <input type="hidden" name="devoured" value="false">
                    <button type="submit">Devour It!</button>
                    </form>--}}

                    {{!--{{> burgers/select}}--}}
                {{!--</li>
                {{/if}}
            {{/each}}
        </ul>
    </div>
</div>--}}


